body {
  padding: 0;
  margin: 5px 270px;
  font-family: gothambook;
}

@font-face {
  font-family: gothambook;
  src: url(font/Gotham\ Rounded\ Book.otf);
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  max-width: 52px;
}

h1 {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

header nav {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
header nav a {
  text-decoration: none;
  color: black;
}

.start-ordering {
  background-image: url(image/start-ordering.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.start-ordering h1 {
  text-align: center;
  padding-top: 55px;
}
.start-ordering .btn-section {
  display: flex;
  justify-content: center;
}
.start-ordering .btn {
  background-color: #e4002b;
  text-transform: uppercase;
  /* padding: 13px 89px; */
  width: 250px;
  height: 46px;
  border-radius: 5px;
  color: white;
  margin: 5px 15px 120px 10px;
  font-weight: 300;
  font-size: 14px;
}

/***********************************************
 ************* For Tablet view ****************
*********************************************/
@media (min-width: 700px) and (max-width: 1200px) {
  body {
    margin: 5px 50px;
  }
  .start-ordering {
    /* background-size: 500px; */
    overflow: hidden;
  }
  .start-ordering .btn {
    display: flex;
  }
  .start-ordering .btn-section {
    flex-direction: column;
    align-items: center;
  }
  .start-ordering .btn {
    margin-bottom: 10px;
    justify-content: center;
    /* padding: 13px 200px; */
  }
}
