body {
  padding: 0;
  margin: 0;
  /* margin-inline: clamp(10px, 150px, 270px); */
  font-family: gothambook;
}
.body-container {
  margin: 5px 270px;
}

@font-face {
  font-family: gothambook;
  src: url(font/Gotham\ Rounded\ Book.otf);
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 52px;
}

h1 {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

header nav {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
header nav a {
  text-decoration: none;
  color: black;
}

/* .start-ordering {
  background-image: url(image/start-ordering.jpg);
  background-size: contain;
  background-repeat: no-repeat;
} */
.start-ordering h1 {
  text-align: center;
  padding-top: 65px;
}
.start-ordering .btn-section {
  display: flex;
  justify-content: center;
}
.start-ordering .btn {
  background-color: #e4002b;
  text-transform: uppercase;
  /* padding: 13px 89px; */
  width: 250px;
  height: 46px;
  border-radius: 5px;
  color: white;
  margin: 5px 15px 120px 10px;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.start-ordering .btn:hover {
  color: #000000;
}

.start-ordering a {
  text-decoration: none;
}

.experiment {
  position: relative;
  aspect-ratio: 16/5.5;
  width: 100%;
}
.experiment img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.feature-section {
  margin-bottom: 40px;
}

.feature-section .feature-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.feature-section .feature-heading h3 {
  font-size: 20px;
  color: #000000;
  font-weight: 900;
  padding-inline: 10px;
  text-transform: uppercase;
}
.feature-section .feature-heading .horizontal-line {
  border: 1px solid #3433335a;
  width: 30%;
}

.feature-section .image-section img {
  width: 100%;
  margin-bottom: 10px;
}

.footer-divider {
  box-shadow: 0px -19px 20px -21px #888686;
}

footer p {
  font-size: 11px;
  color: #161616ac;
}
.link-section {
  padding-top: 15px;
}
footer .link-section a {
  text-decoration: none;
  color: #000000;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 20px;
}

footer .horizontal-line {
  border: 1px solid #3433335a;
  width: 100%;
  margin: 25px 0 15px;
}

.developer-section a {
  text-decoration: none;
}

.dev-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.developer-section img {
  max-width: 200px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.fa-brands {
  font-size: 26px;
  margin-right: 15px;
}
.fa-square-facebook {
  color: #2a2aca;
}
.fa-square-instagram {
  color: #f43478;
}
.fa-youtube {
  color: #ec0d0d;
}

.message p {
  text-align: center;
  margin-bottom: 60px;
  line-height: 16px;
}

.message p span {
  display: block;
}

/***********************************************
 ************* For Tablet view ****************
*********************************************/

@media (min-width: 300px) and (max-width: 750px) {
  .body-container {
    margin-inline: 40px;
  }

  .experiment {
    aspect-ratio: 16/7.5;
  }

  .start-ordering h1 {
    padding-top: 70px;
    font-size: 24px;
    font-weight: 900;
  }

  .start-ordering .btn-section {
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }

  .start-ordering .btn {
    font-size: 12px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 35px;
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .social-media-section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .developer-section {
    display: flex;
    justify-content: center;
    height: 65px;
    margin-bottom: -10px;
  }

  .developer-section img {
    max-width: 200px;
    margin-bottom: 20px;
    align-self: self-end;
  }

  .message p span {
    display: none;
  }
}

@media (min-width: 750px) and (max-width: 1050px) {
  .body-container {
    margin-inline: 100px;
  }

  .experiment {
    aspect-ratio: 16/5.5;
  }
  .experiment h1 {
    padding-top: 60px;
  }

  .start-ordering .btn-section {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  .start-ordering .btn {
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 500px;
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .social-media-section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .developer-section {
    display: flex;
    justify-content: center;
    height: 80px;
    margin-top: -10px;
  }

  .developer-section img {
    max-width: 350px;
    margin-bottom: 20px;
    align-self: self-end;
  }
}

@media (min-width: 1050px) and (max-width: 1200px) {
  .body-container {
    margin-inline: 50px;
  }

  /* .start-ordering {
    background-size: cover;
    aspect-ratio: 16/5.5;
    background-position: center;
    overflow: hidden;
  } */
  /* .start-ordering .btn {
    display: flex;
  } */

  .start-ordering .btn-section {
    flex-direction: column;
    align-items: center;
  }
  .start-ordering .btn {
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 700px;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .body-container {
    margin-inline: 150px;
  }

  .experiment {
    aspect-ratio: 16/4.5;
  }
}
