body {
  padding: 0;
  margin: 5px 270px;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  max-width: 52px;
}

header nav {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}
header nav a {
  text-decoration: none;
  color: black;
}

.start-ordering {
  background-image: url(image/start-ordering.jpg);
  background-size: cover;
}
