body {
  padding: 0;
  margin: 5px 270px;
  /* margin-inline: clamp(10px, 150px, 270px); */
  font-family: gothambook;
}

@font-face {
  font-family: gothambook;
  src: url(font/Gotham\ Rounded\ Book.otf);
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 52px;
}

h1 {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

header nav {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
header nav a {
  text-decoration: none;
  color: black;
}

/* .start-ordering {
  background-image: url(image/start-ordering.jpg);
  background-size: contain;
  background-repeat: no-repeat;
} */
.start-ordering h1 {
  text-align: center;
  padding-top: 55px;
}
.start-ordering .btn-section {
  display: flex;
  justify-content: center;
}
.start-ordering .btn {
  background-color: #e4002b;
  text-transform: uppercase;
  /* padding: 13px 89px; */
  width: 250px;
  height: 46px;
  border-radius: 5px;
  color: white;
  margin: 5px 15px 120px 10px;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.start-ordering .btn:hover {
  color: #000000;
}

.start-ordering a {
  text-decoration: none;
}

.experiment {
  position: relative;
  aspect-ratio: 16/5.5;
  width: 100%;
}
.experiment img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.feature-section .feature-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.feature-section .feature-heading h3 {
  font-size: 20px;
  color: #000000;
  font-weight: 900;
  padding-inline: 10px;
  text-transform: uppercase;
}
.feature-section .feature-heading .horizontal-line {
  border: 1px solid #3433335a;
  width: 30%;
}

/***********************************************
 ************* For Tablet view ****************
*********************************************/
/* @media (min-width: 1201px) and (max-width: 1200px) {
  body {
    margin-inline: 50px;
  }
} */
@media (min-width: 750px) and (max-width: 1050px) {
  body {
    margin-inline: 100px;
  }

  .experiment {
    aspect-ratio: 16/5.5;
  }
  .experiment h1 {
    padding-top: 60px;
  }

  .start-ordering .btn-section {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  .start-ordering .btn {
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 500px;
  }
}

@media (min-width: 300px) and (max-width: 750px) {
  body {
    margin-inline: 40px;
  }

  .experiment {
    aspect-ratio: 16/7.5;
  }

  .start-ordering h1 {
    padding-top: 70px;
    font-size: 24px;
    font-weight: 700;
  }

  .start-ordering .btn-section {
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }

  .start-ordering .btn {
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 35px;
  }
}

@media (min-width: 1050px) and (max-width: 1200px) {
  body {
    margin-inline: 50px;
  }
  /* .start-ordering {
    background-size: cover;
    aspect-ratio: 16/5.5;
    background-position: center;
    overflow: hidden;
  } */
  /* .start-ordering .btn {
    display: flex;
  } */
  .start-ordering .btn-section {
    flex-direction: column;
    align-items: center;
  }
  .start-ordering .btn {
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 700px;
  }
}

@media (min-width: 1200px) and (max-width: 1300px) {
  body {
    margin-inline: 150px;
  }

  .experiment {
    aspect-ratio: 16/4.5;
  }
}
